<div class="flex-wrapper home">
	<%- partial("_partials/_header") %>
	<div class="flex">
		<h2 class="centercenter">Hello! My name is Kelly and I am a
			<br />
		Front End Developer &amp; Designer</h2>
	</div>
</div>