<div class="flex-wrapper contact">
	<%- partial("_partials/_header") %>
	<div class="flex">
		<%- partial("_partials/_page-title") %>
		<div class="thanks">
			<p>Thanks, I will be in touch soon!</p>
		</div>
	</div>
	<%- partial("_partials/_footer") %>
</div>
<meta itemprop="headline" content="<%= pagetitle %>">