<footer class="clearfix">
	<div class="omr float-r">
		<a href="http://www.linkedin.com/in/kellyhilliard" target="_blank" class="social-icon" id="social-linkedin"></a>
		<a href="https://instagram.com/kellyinator/" target="_blank" class="social-icon" id="social-instagram"></a>
		<a href="https://www.flickr.com/photos/kellyhilliard/" target="_blank" class="social-icon" id="social-flickr"></a>
		<p>
			<a href="mailto:hilliardkc@gmail.com">hilliardkc@gmail.com</a>
		</p>
	</div>
	<p class="oml float-l"><a href="<%= site_url %>/downloads/kelly_hilliard_resume_2015.pdf">Check out my resume!</a>
		<br/>
		&copy; Kelly Hilliard 2015
	</p>
</footer>