<footer class="clearfix">
	<p class="omr float-r">Questions? Comments? I'd love to chat!
		<br/>
		Send me an email at <a href="mailto:hilliardkc@gmail.com">hilliardkc@gmail.com</a>
	</p>
	<p class="oml float-l"><a href="/downloads/kelly_hilliard_resume_2015.pdf">Check out my resume!</a>
		<br/>
		&copy; Kelly Hilliard 2015
	</p>
</footer>