<header class="clearfix">
	<h1 class="oml float-l"><a href="/">Kelly Hilliard</a></h1>
	<nav class="omr float-r">
		<ul>
			<li class="<%- current.source == 'work' ? 'active nav-li' : 'nav-li' %>"><a href="/work">Work</a></li>
			<li class="<%- current.source == 'contact' ? 'active nav-li' : 'nav-li' %>"><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>