@import "colors";
@import "type";
@import "mixins";

.contact {
	background: url(http://www.kelly-hilliard.com/images/contact_bg_2400.jpg) no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	header {
		background-color: transparent;
	}
	hr {
		border-color: @b-100;
	}
	.page-title {
		color: @b-100;
	}
}
.contact-p {
	color: @b-100;
	padding-top: 50px;
	a {
		border-bottom: 1px dashed @b-100;
	}
}
.contact-form {
	margin-top: 50px;
	label {
		color: @b-100;
		margin-top: 25px;
		display: block;
	}
}
.thanks {
	margin-top: 50px;
	p {
		text-align: center;
		font-size: 24px;
		color: @b-100;
		line-height: 32px;
	}
}